@{
    ViewData["Title"] = "Movie List";
}
@model List<MovieForm>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director First Name</td>
            <td>Director Last Name</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
            {
        <tr>
            <td>@movie.Category.CategoryName</td>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>@movie.DirectorFirstName</td>
            <td>@movie.DirectoryLastName</td>
            <td>@movie.Rating</td>
            <td>@movie.Edited</td>
            <td>@movie.LentTo</td>
            <td>@movie.Notes</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@movie.ApplicationId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@movie.ApplicationId">Delete</a></td>
        </tr>
            } 
    </tbody>
</table>